* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили для HEADER */
header {
  background-color: #030303;
  width: 1920px;
}

.header {
  width: 100%;
}

.logo {
  cursor: pointer;
}
.logo svg {
  width: 40px;
  height: 40px;
}
.navbar {
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  height: 150px;
}

.menu {
  display: flex;
  gap: 60px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #9d8665;
}

/* Стили для бургер-меню */
.burger {
  display: none;
  cursor: pointer;
  /* z-index: 1000; */
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px;
}

/* Стили для адаптивного меню */
.menu-adaptive {
  display: none;
  flex-direction: row;
  width: 300px;
  height: 230px;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}

.menu-adaptive-fst {
  display: block;
  width: 30%;
  height: 100%;
  background-color: #030303;
}

.menu-adaptive-fst-txt {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-fst-txt a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.menu-adaptive-snd {
  display: block;
  width: 20px;
  height: 100%;
}

.menu-adaptive-snd-svg {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-snd-svg svg {
  width: 20px;
}

/* Для секции CONTACTS */
.contacts {
  width: 1920px;
  margin-top: 50px;
  height: 865px;
}

.contacts-heading {
  width: 1440px;
  height: 125px;
  margin: 0 auto;
  border-bottom: #710707 3px solid;
  display: block;
}

.contacts-heading h1 {
  text-transform: uppercase;
  font-family: "Forum", sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #9d8665;
}

.contacts-heading svg {
  width: 50px;
  height: 50px;
}

.contacts-item {
  width: 75%;
  margin: 40px auto 0 auto;
  height: 700px;
  display: flex;
}

.contacts-content {
  width: 33%;
  height: 100%;
  font-family: "Roboto Flex", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.contacts-content-txt,
.operating-time {
  width: 100%;
  height: 41%;
  margin-bottom: 30px;
}

.contacts-content-txt-heading,
.operating-time-heading {
  width: 227px;
  margin: 0 0 60px 0;
}

.operating-time-heading {
  margin-top: 30px;
}

.contacts-content-txt-heading h1,
.operating-time-heading h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.contacts-content-txt-adress p,
.operating-time-child p {
  font-size: 22px;
  margin-bottom: 40px;
}

.operating-time-child span {
  color: #710707;
  font-weight: 700;
}

.buy-tickets {
  position: absolute;
  width: 175px;
  height: 50px;
  background-color: #030303;
  bottom: 0;
  right: 2%;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
.buy-tickets:hover {
  background-color: #9d8665;
  border: #030303 1px solid;
}

#map {
  width: 67%;
  height: 100%;
}

/* Для секции 'FOOTER' */
footer {
  width: 1920px;
  height: 180px;
  background-color: #030303;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.footer-conteiner {
  width: 1440px;
  height: 64%;
  margin: 0 auto;
  display: flex;
}

.footer-conteiner svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer-conteiner-nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 389px;
}

.footer-conteiner-nav-item {
  width: 100px;
  display: inline-flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: flex-start; /* Выравнивание по левому краю */
}

.footer-conteiner-nav-item span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.footer-conteiner-social-networks {
  display: flex;
  width: 50%;
  height: 100%;
}

.footer-conteiner-social-network {
  width: 50%;
  height: 50%;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-conteiner-social-network-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon svg {
  width: 32px;
  height: 32px;
}

.footer-conteiner-social-networks-hidden {
  display: none;
}

@media (max-width: 1024px) {
  body {
    width: 1024px;
  }

  /* для header */
  header {
    width: 1024px;
  }

  .header {
    width: 1024px;
    position: relative;
    height: 130px;
  }

  .menu {
    display: none;
  }

  .logo {
    cursor: default;
    margin-left: 5px;
  }

  .burger {
    display: block;
  }

  .navbar {
    font-size: 20px;
    font-weight: 300;
    justify-content: space-between;
    width: 98%;
    height: 130px;
    padding: 0;
  }

  /* Для секции CONTACTS */
  .contacts {
    width: 1024px;
    margin-top: 40px;
    height: 668px;
  }

  .contacts-heading {
    width: 984px;
    height: 120px;
  }

  .contacts-heading h1 {
    font-size: 50px;
    margin: 0 0 8px 0;
  }

  .contacts-item {
    width: 984px;
    margin: 30px auto 0 auto;
    height: 518px;
  }

  .operating-time {
    height: 209px;
  }

  .contacts-content-txt-heading,
  .operating-time-heading {
    width: 185px;
    margin: 0 0 20px 0;
  }

  .contacts-content-txt-heading h1,
  .operating-time-heading h1 {
    font-size: 24px;
  }

  .contacts-content-txt-adress,
  .operating-time-child {
    width: 290px;
  }

  .contacts-content-txt-adress p,
  .operating-time-child p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .buy-tickets {
    width: 170px;
    height: 48px;
    font-size: 20px;
  }

  /* для 'FOOTER' */
  footer {
    width: 1024px;
    height: 185px;
    margin-top: 40px;
  }

  .footer-conteiner {
    width: 97%;
    height: 60%;
  }

  .footer-conteiner-nav {
    width: 30%;
    margin-left: 155px;
    height: 99%;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer-conteiner-social-networks {
    width: 50%;
  }

  .footer-conteiner-social-network {
    width: 70%;
  }

  .footer-conteiner-social-network-icon {
    width: 46px;
    height: 46px;
  }

  .footer-conteiner-social-network-icon svg {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }

  /* для Header */
  header {
    width: 768px;
  }

  .header {
    width: 100%;
  }

  /* для секции 'CONTACTS' */
  .contacts {
    width: 768px;
    margin-top: 30px;
    height: 818px;
  }

  .contacts-heading {
    width: 728px;
  }

  .contacts-heading h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }

  .contacts-item {
    width: 728px;
    margin: 15px auto 0 auto;
    height: 683px;
    display: block;
  }

  .contacts-content {
    height: 210px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts-content-txt, .operating-time {
    width: 50%;
    height: 100%;
  }

  .contacts-content-txt-heading, .operating-time-heading {
    width: 165px;
    height: 48px;
    margin: 0 0 40px 0;
  }

  .contacts-content-txt-heading h1, .operating-time-heading h1 {
    font-size: 20px;
  }

  .contacts-content-txt-adress, .operating-time-child {
    width: 274px;
  }

  .contacts-content-txt-adress p, .operating-time-child p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .buy-tickets {
    right: 0;
    bottom: 10%;
    width: 160px;
    height: 45px;
    font-size: 18px;
  }

  #map {
    width: 100%;
    height: 473px;
  }

  /* для секции 'FOOTER' */
  footer {
    width: 768px;
    height: 305px;
    margin-top: 30px;
    display: inline-block;
  }

  .footer-conteiner {
    width: 97%;
    height: 121px;
    margin-top: 50px;
  }

  .footer-conteiner-nav {
    width: 50%;
    margin-left: 180px;
    height: 100%;
    padding-top: 10px;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 18px;
    margin-bottom: 27px;
  }

  .footer-conteiner-social-networks {
    display: none;
  }

  .footer-conteiner-social-networks-hidden {
    display: flex;
    width: 364px;
    justify-content: space-between;
    margin: 50px 0 0 232px;
  }

  .footer-conteiner-social-network-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .footer-conteiner-social-network-icon svg {
    width: 26px;
    height: 26px;
  }
}
