* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили для HEADER */
header {
  background-color: #030303;
  width: 1920px;
}

.header {
  width: 100%;
}

.logo {
  cursor: pointer;
}
.logo svg {
  width: 40px;
  height: 40px;
}
.navbar {
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  height: 150px;
}

.menu {
  display: flex;
  gap: 60px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #9d8665;
}

/* Стили для бургер-меню */
.burger {
  display: none;
  cursor: pointer;
  /* z-index: 1000; */
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px;
}

/* Стили для адаптивного меню */
.menu-adaptive {
  display: none;
  flex-direction: row;
  width: 300px;
  height: 230px;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}

.menu-adaptive-fst {
  display: block;
  width: 30%;
  height: 100%;
  background-color: #030303;
}

.menu-adaptive-fst-txt {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-fst-txt a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.menu-adaptive-snd {
  display: block;
  width: 20px;
  height: 100%;
}

.menu-adaptive-snd-svg {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-snd-svg svg {
  width: 20px;
}

/* Прописываем стили для "HERO" */
.hero {
  width: 1920px;
  height: 201px;
  margin-top: 50px;
}

.hero-parent-container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.hero-container-heading {
  width: 1243px;
  height: 65px;
  border-bottom: #710707 3px solid;
}

.hero-container-heading h1 {
  font-family: "Forum", monospace;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-container-heading h1 span {
  font-style: italic;
}

.hero-container-content {
  width: 100%;
  height: 121px;
  margin-top: 15px;
}

.hero-container-content p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 6px;
  letter-spacing: 2px;
}

.hero-container-content p span {
  font-style: italic;
}

/* Для секции "ABOUT" */
.about-painting {
  width: 1920px;
  height: 709px;
  margin-top: 50px;
}

.about-painting-parent-container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.about-painting-parent-container-heading {
    width: 490px;
    height: 65px;
    border-bottom: #710707 3px solid;
}

.about-painting-parent-container-heading h1 {
    font-family: "Forum", monospace;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-painting-parent-container-content {
    width: 100%;
    height: 629px;
    margin-top: 15px;
}

.about-painting-parent-container-content h2 {
    font-family: "Forum", monospace;
    font-size: 36px;
    font-weight: 600;
    margin-top: 12px;
    letter-spacing: 2px;
}

.about-painting-parent-container-content p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 6px;
    letter-spacing: 2px;
}

.about-painting-parent-container-content p span {
    font-style: italic;
}

/* section 'EXPLORE' */
.explore {
  width: 1920px;
  height: 715px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* background-color: #030303; */
}

.explore-container {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 100%;
}

.explore-heading {
  width: 57%;
  height: 65px;
  border-bottom: #710707 3px solid;
}

.explore-contant {
  width: 50%;
  /* background-color: gray; */
}

.explore-heading h1 {
  display: inline-block;
  font-family: "Forum", sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  
}

.explore-txt {
  margin-top: 132px;
  width: 690px;
  height: 379px;
  /* background-color: aqua; */
}

.explore-txt p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 10px;
}

.explore-txt span {
  font-style: italic;
}

.explore-img {
  width: 50%;
  height: 715px;
  position: relative;
  background: url(../img/explore-slider/after.jpg);
  background-size: cover;
}

.explore-img img {
  width: 100%;
  height: 100%;
}

.explore-img-ere {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 60% 0, 60% 100%, 0 100%);
}

.explore-img-child {
  width: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 0;
  left: 59.5%;
}

.explore-img-child-line-top,
.explore-img-child-line-bottom {
  width: 5px;
  height: 49%;
  background-color: #ffffff;
}

.explore-img-child-line-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  cursor: grab;
}

/* Прописываем стили для Footer */
footer {
  width: 1920px;
  height: 180px;
  background-color: #030303;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.footer-conteiner {
  width: 1440px;
  height: 64%;
  margin: 0 auto;
  display: flex;
}

.footer-conteiner svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer-conteiner-nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 389px;
}

.footer-conteiner-nav-item {
  width: 100px;
  display: inline-flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: flex-start; /* Выравнивание по левому краю */
}

.footer-conteiner-nav-item span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.footer-conteiner-social-networks {
  display: flex;
  width: 50%;
  height: 100%;
}

.footer-conteiner-social-network {
  width: 50%;
  height: 50%;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-conteiner-social-network-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon svg {
  width: 32px;
  height: 32px;
}

.footer-conteiner-social-networks-hidden {
  display: none;
}

@media (max-width: 1024px) {
  body {
    width: 1024px;
  }

  /* для header */
  header {
    width: 1024px;
  }

  .header {
    width: 1024px;
    position: relative;
    height: 130px;
  }

  .menu {
    display: none;
  }

  .logo {
    cursor: default;
    margin-left: 5px;
  }

  .burger {
    display: block;
  }

  .navbar {
    font-size: 20px;
    font-weight: 300;
    justify-content: space-between;
    width: 98%;
    height: 130px;
    padding: 0;
  }

  /* для секции HERO */
  .hero {
    width: 1024px;
    height: 264px;
    margin-top: 40px;
  }

  .hero-parent-container {
    width: 984px;
  }

  .hero-container-heading {
    width: 100%;
    height: 115px;
  }

  .hero-container-heading h1 {
    font-size: 45px;
  }

  .hero-container-content {
    width: 100%;
    height: 135px;
    margin-top: 15px;
  }

  .hero-container-content p {
    font-size: 22px;
  }

  /* Для секции "ABOUT" */
.about-painting {
  width: 1024px;
  height: 793px;
  margin-top: 40px;
}

.about-painting-parent-container {
  width: 984px;
  height: 100%;
}

.about-painting-parent-container-heading {
    width: 450px;
    height: 65px;

}

.about-painting-parent-container-heading h1 {
    font-size: 45px;
}

.about-painting-parent-container-content {
    width: 100%;
    height: 713px;
    margin-top: 15px;
}

.about-painting-parent-container-content h2 {
    font-size: 32px;
}

.about-painting-parent-container-content p {
    font-size: 22px;
}

/* section 'EXPLORE' */
.explore {
  width: 1024px;
  height: 1277px;
  margin-top: 40px;
}

.explore-container {
  flex-direction: column;
  width: 984px;
}

.explore-heading {
  width: 43%;

}

.explore-contant {
  width: 100%;
}

.explore-heading h1 {
  font-size: 45px;
}

.explore-txt {
  margin: 20px 0;
  width: 100%;
  height: 211px;
}

.explore-txt p {
  font-size: 22px;
}

.explore-img {
  width: 984px;
  height: auto;
}

  /* для Footer */
  footer {
    width: 1024px;
    height: 185px;
    margin-top: 40px;
  }

  .footer-conteiner {
    width: 97%;
    height: 60%;
  }

  .footer-conteiner-nav {
    width: 30%;
    margin-left: 155px;
    height: 99%;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer-conteiner-social-networks {
    width: 50%;
  }

  .footer-conteiner-social-network {
    width: 70%;
  }

  .footer-conteiner-social-network-icon {
    width: 46px;
    height: 46px;
  }

  .footer-conteiner-social-network-icon svg {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }

  /* для Header */
  header {
    width: 768px;
  }

  .header {
    width: 100%;
  }

  /* для секции HERO */
  .hero {
    width: 768px;
    height: 270px;
    margin-top: 30px;
  }

  .hero-parent-container {
    width: 728px;
  }

  .hero-container-heading {
    width: 580px;
    height: 110px;
  }

  .hero-container-heading h1 {
    font-size: 45px;
  }

  .hero-container-content {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }

  .hero-container-content p {
    font-size: 20px;
  }

    /* Для секции "ABOUT" */
.about-painting {
  width: 768px;
  height: 917px;
  margin-top: 30px;
}

.about-painting-parent-container {
  width: 728px;
}

.about-painting-parent-container-heading {
    width: 450px;
    height: 65px;

}

.about-painting-parent-container-heading h1 {
    font-size: 45px;
}

.about-painting-parent-container-content {
    width: 100%;
    height: 837px;
    margin-top: 15px;
}

.about-painting-parent-container-content h2 {
    font-size: 32px;
}

.about-painting-parent-container-content p {
    font-size: 20px;
}

/* section 'EXPLORE' */
.explore {
  width: 768px;
  height: 1047px;
  margin-top: 30px;
}

.explore-container {
  flex-direction: column;
  width: 728px;
}

.explore-heading {
  width: 50%;

}

.explore-contant {
  width: 100%;
}

.explore-heading h1 {
  font-size: 45px;
}

.explore-txt {
  margin: 10px 0;
  /* width: 100%; */
  height: 250px;
}

.explore-txt p {
  font-size: 20px;
}

.explore-img {
  width: 728px;
  height: auto;
}

  /* для Footer */
  footer {
    width: 768px;
    height: 305px;
    margin-top: 30px;
    display: inline-block;
  }

  .footer-conteiner {
    width: 97%;
    height: 121px;
    margin-top: 50px;
  }

  .footer-conteiner-nav {
    width: 50%;
    margin-left: 180px;
    height: 100%;
    padding-top: 10px;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 18px;
    margin-bottom: 27px;
  }

  .footer-conteiner-social-networks {
    display: none;
  }

  .footer-conteiner-social-networks-hidden {
    display: flex;
    width: 364px;
    justify-content: space-between;
    margin: 50px 0 0 232px;
  }

  .footer-conteiner-social-network-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .footer-conteiner-social-network-icon svg {
    width: 26px;
    height: 26px;
  }
}
