/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
}

/* Стили для HEADER */
header {
  background-color: #030303;
  width: 100%;
}

.header {
  width: 100%;
}

.logo {
  cursor: pointer;
}
.logo svg {
  width: 40px;
  height: 40px;
}
.navbar {
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  font-weight: 200;
  font-size: 1.375rem;
  letter-spacing: 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  height: 150px;
}

.menu {
  display: flex;
  gap: 60px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.3s;
}

.menu a:hover {
  color: #9d8665;
}

/* Стили для бургер-меню */
.burger {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px;
}

/* Стили для адаптивного меню */
.menu-adaptive {
  display: none;
  flex-direction: row;
  width: 300px;
  height: 230px;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}

.menu-adaptive-fst {
  display: block;
  width: 30%;
  height: 100%;
  background-color: #030303;
}

.menu-adaptive-fst-txt {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-fst-txt a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125rem;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  letter-spacing: 0.125rem;
}

.menu-adaptive-snd {
  display: block;
  width: 20px;
  height: 100%;
}

.menu-adaptive-snd-svg {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-snd-svg svg {
  width: 20px;
}

main {
  /* width: 90%; */
  /* max-width: 1400px; */
  position: relative;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 50px auto 0 auto;
  /* background-color: aquamarine; */
}

.heading-carousel {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-bottom: #710707 3px solid;
  display: block;
  margin-bottom: 20px;
}

.heading-carousel h1 {
  text-transform: uppercase;
  font-family: "Forum", sans-serif;
  font-size: 3.125rem;
  font-weight: 400;
  letter-spacing: 0.3125rem;
  color: #9d8665;
}

.heading-carousel svg {
  width: 50px;
  height: 50px;
}

/* Стили карусели */
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px;
  height: 630px;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  /* transition: transform 1.5s ease; */
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* background-color: #9d8665; */
}

.carousel-slide img {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0);
}

.carousel-caption {
  /* padding: 15px; */
  /* background: rgba(255,255,255,0.2); */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.carousel-caption h2 {
  font-family: "Roboto Flex", sans-serif;
  margin: 0 0 5px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.carousel-caption p {
  font-family: "Roboto Flex", sans-serif;
  /* margin: 0; */
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

/* Стили кнопок навигации */
.carousel-prev,
.carousel-next {
  height: 100%;
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #030303;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  z-index: 1;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/* для секции BUY-TICKETS */
.buy-tickets {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
}

.content-txt {
  width: 80%;
  background-color: #030303;
  padding: 10px;
}

.content-txt p {
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.content-txt p span {
  color: #9d8665;
  font-weight: 600;
  font-style: italic;
}

.content-btn {
  width: 20%;
  position: relative;
  background-color: #030303;
}

.buy-now {
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: 40%;
  right: 0;
  background-color: #710707;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.75rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.buy-now:hover {
  background-color: #9d8665;
}

/* Стили для FOOTER */
footer {
  width: 100%;
  height: 180px;
  background-color: #030303;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.footer-conteiner {
  width: 75%;
  height: 64%;
  margin: 0 auto;
  display: flex;
}

.footer-conteiner svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer-conteiner-nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 389px;
}

.footer-conteiner-nav-item {
  width: 100px;
  display: inline-flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: flex-start; /* Выравнивание по левому краю */
}

.footer-conteiner-nav-item span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  font-size: 1.375rem;
  letter-spacing: 0.125rem;
  margin-bottom: 20px;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.footer-conteiner-social-networks {
  display: flex;
  width: 50%;
  height: 100%;
}

.footer-conteiner-social-network {
  width: 50%;
  height: 50%;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-conteiner-social-network-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon svg {
  width: 32px;
  height: 32px;
}

.footer-conteiner-social-networks-hidden {
  display: none;
}

/* Адаптивность */
@media (max-width: 1024px) {
  /* для header */
  header {
    width: 100%;
  }

  .header {
    width: 100%;
    position: relative;
    height: 130px;
  }

  .menu {
    display: none;
  }

  .logo {
    cursor: default;
    margin-left: 5px;
  }

  .burger {
    display: block;
  }

  .navbar {
    font-size: 1.25rem;
    font-weight: 300;
    justify-content: space-between;
    width: 98%;
    height: 130px;
    padding: 0;
  }
  /* для main */
  main {
    width: 96%;
    margin: 40px auto 0 auto;
  }

  .heading-carousel {
    margin-bottom: 15px;
  }

  .heading-carousel h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }

  .heading-carousel svg {
    width: 40px;
    height: 40px;
  }

  .carousel {
    margin-bottom: 40px;
    height: 600px;
  }
  .carousel-prev,
  .carousel-next {
    width: 50px;
  }

  .carousel-slide img {
    height: 470px;
  }

  /* для секции BUY-TICKETS */
  .content-txt {
    padding: 7px;
  }

  .content-txt p {
    font-size: 1.5rem;
  }

  .buy-now {
    font-size: 1.4rem;
  }

  /* для 'FOOTER' */
  footer {
    width: 100%;
    height: 185px;
    margin-top: 40px;
  }

  .footer-conteiner {
    width: 97%;
    height: 60%;
  }

  .footer-conteiner-nav {
    width: 30%;
    margin-left: 155px;
    height: 99%;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  .footer-conteiner-social-networks {
    width: 50%;
  }

  .footer-conteiner-social-network {
    width: 70%;
  }

  .footer-conteiner-social-network-icon {
    width: 46px;
    height: 46px;
  }

  .footer-conteiner-social-network-icon svg {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 768px) {
  /* для header */
  header {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  /* для main */
  main {
    width: 94.79%;
    margin: 30px auto 0 auto;
  }

  .heading-carousel {
    margin-bottom: 10px;
  }

  .heading-carousel h1 {
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
  }

  .heading-carousel svg {
    width: 30px;
    height: 30px;
  }

  .carousel {
    margin-bottom: 40px;
    height: 450px;
  }

  .carousel-slide {
    padding: 5px;
  }

  .carousel-slide img {
    height: 355px;
    box-shadow: 0 2px 5px rgba(0, 0, 0);
  }

  .carousel-caption h2 {
    font-size: 1.2rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }

  .carousel-prev,
  .carousel-next {
    width: 30px;
  }

  /* для секции BUY-TICKETS */
  .content-txt {
    padding: 5px;
  }

  .content-txt p {
    font-size: 1.25rem;
  }

  .buy-now {
    font-size: 1.15rem;
  }

  /* для 'FOOTER' */
  footer {
    width: 100%;
    height: 305px;
    margin-top: 30px;
    display: inline-block;
  }

  .footer-conteiner {
    width: 97%;
    height: 121px;
    margin-top: 50px;
  }

  .footer-conteiner-nav {
    width: 50%;
    margin-left: 180px;
    height: 100%;
    padding-top: 10px;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 1.125rem;
    margin-bottom: 27px;
  }

  .footer-conteiner-social-networks {
    display: none;
  }

  .footer-conteiner-social-networks-hidden {
    display: flex;
    width: 364px;
    justify-content: space-between;
    margin: 50px 0 0 232px;
  }

  .footer-conteiner-social-network-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .footer-conteiner-social-network-icon svg {
    width: 26px;
    height: 26px;
  }
}
