/* Общие стили */
body {
  margin: 0;
  padding: 0;
}

/* Стили для HEADER */
header {
  background-color: #030303;
  width: 1920px;
}

.header {
  width: 100%;
}

.logo {
  cursor: pointer;
}
.logo svg {
  width: 40px;
  height: 40px;
}
.navbar {
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  height: 150px;
}

.menu {
  display: flex;
  gap: 60px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #9d8665;
}

/* Стили для бургер-меню */
.burger {
  display: none;
  cursor: pointer;
  /* z-index: 1000; */
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px;
}

/* Стили для адаптивного меню */
.menu-adaptive {
  display: none;
  flex-direction: row;
  width: 300px;
  height: 230px;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}

.menu-adaptive-fst {
  display: block;
  width: 30%;
  height: 100%;
  background-color: #030303;
}

.menu-adaptive-fst-txt {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-fst-txt a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.menu-adaptive-snd {
  display: block;
  width: 20px;
  height: 100%;
}

.menu-adaptive-snd-svg {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 16.5%;
}

.menu-adaptive-snd-svg svg {
  width: 20px;
}

/* section 'Welcome' */
.welcome {
  background-color: #030303;
  color: #ffffff;
  width: 1920px;
  height: 800px;
  margin-bottom: 50px;
}

.parent-container {
  position: relative;
  width: 1440px;
  height: 744px;
  background-color: #030303;
  margin: 0 auto;
}

.image-container {
  width: 69.44%;
  height: 100%;
  z-index: 0;
  margin-left: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 2;
  width: 598px;
}

.text-container h1 {
  font-family: "Forum", monospace;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
}

.text-container p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 100;
  font-size: 28px;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 50px;
}

.btn {
  display: flex;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 75px;
  padding-top: auto;
  background-color: #710707;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: #9d8665;
}

.image-container::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 101%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
  z-index: 1;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 110px;
  background-color: #030303;
  vertical-align: bottom;
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  font-size: 22px;
  position: absolute;
  right: 0;
  bottom: -7.5%;
  z-index: 2;
}

.numbers {
  display: flex;
  width: 25%;
  text-align: center;
  justify-content: center;
}

.numbers-fst,
.numbers-scnd,
.direct_slash,
.arrow-left,
.arrow-right {
  margin: 0 5px;
}
.arrow-left,
.arrow-right {
  cursor: pointer;
  font-size: 25px;
}

.arrow-left:hover {
  color: #9d8665;
}
.arrow-right:hover {
  color: #9d8665;
}
.squares {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.square {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}

.golden {
  background-color: #d2b183;
}

.arrows {
  display: flex;
  width: 25%;
  text-align: center;
  justify-content: center;
}

.welcome-gallery {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 82%;
  height: 45%;
  margin: 0 auto 0 auto;
  padding-top: 281px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.welcome-gallery img {
  width: 100%;
  height: 194px;
  object-fit: cover;
  margin-bottom: 20px;
}

.gallery-row img {
  width: 49%;
  height: 161px;
  object-fit: cover;
}

.social-network {
  display: none;
  width: 60%;
  background: #030303;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
}

.social-network-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-network-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-network-icon svg {
  width: 24px;
  height: 24px;
}

.visiting {
  width: 1920px;
  height: 1141px;
}

.visiting-container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.visiting-container-header {
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
}

.visiting-container-header h1 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  font-family: "Forum", sans-serif;
  margin: 0 0 20px 0;
}

.visiting-container-body {
  width: 100%;
  height: 1026px;
  border-top: 3px solid #710707;
  display: block;
  justify-content: space-between;
}

.visiting-container-body-child {
  width: 100%;
  height: 424px;
  margin-top: 89px;
  display: flex;
  justify-content: space-between;
}

.visiting-container-body-child-content {
  width: 440px;
  height: 100%;
  position: relative;
}

.visiting-container-body-child-content-image {
  width: 100%;
  height: 285px;
}

.visiting-container-body-child-content img:hover {
  filter: brightness(70%);
}

.visiting-container-body-child-content-header {
  width: auto;
  height: auto;
  position: absolute;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  bottom: 20%;
  left: 0;
}

.visiting-container-body-child-content-line {
  width: 318px;
  height: 2px;
  background-color: #710707;
  position: absolute;
  bottom: 18%;
  left: 0;
}

.visiting-container-body-child-content-txt-fst {
  width: auto;
  height: auto;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  font-size: 22px;
  position: absolute;
  bottom: 9%;
  left: 0;
}

.visiting-container-body-child-content-txt-sec {
  width: auto;
  height: auto;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.visiting-container-body-child-media {
  display: none;
}

/* section 'EXPLORE' */
.explore {
  background-color: #030303;
  color: #ffffff;
  width: 1920px;
  height: 865px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.explore-container {
  display: flex;
  width: 1440px;
  height: 715px;
}

.explore-contant {
  width: 50%;
}

.explore-heading h1 {
  display: inline-block;
  font-family: "Forum", sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
  border-bottom: #710707 3px solid;
}

.explore-text {
  padding-top: 50px;
  width: 660px;
}

.explore-text p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.explore-text span {
  color: #d2b183;
}

.explore-img {
  width: 50%;
  height: 715px;
  position: relative;
  background: url(../img/explore-slider/after.jpg);
  background-size: cover;
}

.explore-img img {
  width: 100%;
  height: 100%;
}

.explore-img-ere {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 60% 0, 60% 100%, 0 100%);
}

.explore-img-child {
  width: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 0;
  left: 59.5%;
}

.explore-img-child-line-top,
.explore-img-child-line-bottom {
  width: 5px;
  height: 48%;
  background-color: #ffffff;
}

.explore-img-child-line-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  cursor: grab;
}

/* section 'VIDEO' */
.video {
  width: 1920px;
  height: 1302px;
  margin-top: 50px;
}
.video-container {
  width: 1440px;
  margin: 0 auto;
}

.video-content {
  display: flex;
  width: 100%;
  align-items: start;
}

.video-heading {
  width: 57%;
}

.video-heading h1 {
  text-transform: uppercase;
  font-family: "Forum", sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #9d8665;
  margin: 0;
}

.video-text {
  width: 43%;
}

.video-text p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding-top: 10px;
}

.video-main {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.video-main img {
  width: 100%;
  height: auto;
}

.play-button {
  width: 20%;
  height: 34%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #ffffff 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 90px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-90deg);
  cursor: pointer;
}

.playback-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #030303;
}

.play-icon {
  width: 4%;
  padding-top: 2px;
}

.play-icon svg {
  width: 90%;
  cursor: pointer;
}

.time {
  width: 67%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passed-time {
  width: 60%;
  height: 4px;
  background-color: #710707;
}

.slider {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.remain-time {
  width: 30%;
  height: 4px;
  background-color: #ffffff;
}

.volume-level {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-icon {
  width: 4%;
  padding-top: 5px;
}

.volume-icon svg {
  width: 100%;
  cursor: pointer;
}

.less-level {
  width: 30%;
  height: 4px;
  background-color: #710707;
}

.more-level {
  width: 35%;
  height: 4px;
  background-color: #ffffff;
}

.fullscreen-icon {
  width: 4%;
}

.fullscreen-icon svg {
  width: 100%;
  cursor: pointer;
}

.video-carousel {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.video-carousel-item {
  width: 31%;
  position: relative;
}

.video-carousel-item:nth-child(4) {
  /* Скрываем 4й элемент */
  display: none;
}

.video-carousel-item img {
  width: 100%;
}

.yuotube-icon {
  position: absolute;
  width: 18.02%;
  top: 33%;
  left: 40%;
  cursor: pointer;
}

.logo-louvre {
  background-image: url("../img/welcome-slider/1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 9.28%;
  height: 16.2%;
  position: absolute;
  top: 4%;
  left: 2%;
}

.item-txt {
  position: absolute;
  width: 72.65%;
  top: 0;
  left: 15%;
  font-size: 15px;
  color: #ffffff;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}

.item-txt p {
  white-space: nowrap; /* запрещаем перенос на новую строку */
  overflow: hidden; /* скрываем лишнее */
  text-overflow: ellipsis; /* добавляем многоточие */
}
.menu-dots {
  width: 6.63%;
  position: absolute;
  top: 5%;
  right: 2%;
  cursor: pointer;
}

.small-video-carousel {
  display: flex;
  width: 100%;
  height: 7%;
  align-items: center;
  justify-content: center;
  margin-top: 2.6%;
}

.arrow-video-carousel {
  width: 5%;
  text-align: center;
}

.arrow-video-carousel svg {
  cursor: pointer;
  width: 12px;
}

.points-video-carousel {
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: center;
}

.point-video-carousel {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999;
}

.black-point {
  background-color: #000000;
}

/* section 'Gallery' */
.gallery {
  width: 1920px;
  height: 1750px;
  background-color: #030303;
  margin-top: 50px;
}

.parent-gallery-container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.parent-gallery-container h1 {
  text-transform: uppercase;
  font-family: "Forum", sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffffff;
  margin: 0;
}

.gallery-container-img {
  display: flex;
  width: 100%;
  height: 1600px;
  margin-top: 20px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.gallery-container-img::after {
  /* Создаем градиетнт */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  z-index: 1;
}

.column-img {
  width: 32%;
  display: inline-flex;
  flex-direction: column;
  gap: 22px;
}

.column-padding {
  padding-top: 3%;
}

.gallery-container-img-adaptive {
  display: none;
}

/* section 'BUY TICKETS' */
.buy-tickets {
  width: 1920px;
  height: 1032px;
  margin-top: 50px;
}

.heading-buy-tickets {
  width: 1440px;
  margin: 0 auto;
  border-bottom: #710707 3px solid;
}

.heading-buy-tickets h1 {
  text-transform: uppercase;
  font-family: "Forum", sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #9d8665;
  margin: 0 0 10px 0;
}

.buy-tickets-container {
  display: flex;
  width: 75%;
  margin: 60px auto 0 auto;
}

.buy-tickets-img {
  width: 50%;
}

.buy-tickets-img img {
  width: 100%;
}

.buy-tickets-content {
  width: 50%;
  display: flex;
}

.buy-tickets-content-ticket-type {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buy-tickets-content-ticket-type h1 {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  font-size: 28px;
  font-weight: 800;
  padding-left: 40px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 37px;
}

label {
  display: block;
  margin-bottom: 20px;
}

input[type="radio"] {
  margin-right: 5px;
}

.ticket-type {
  font-family: "Roboto Flex", sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}

.buy-tickets-content-amount {
  display: inline-block;
  width: 50%;
  position: relative;
}

.buy-tickets-content-amount h1 {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-align: end;
}

.ticket-type-content {
  font-family: "Roboto Flex", sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-left: 185px;
}

.basic,
.senior {
  display: flex;
  width: 44%;
  height: 50px;
  border: #000000 3px solid;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: auto;
  align-items: center; /* Вертикальное выравнивание по центру */
  justify-content: center; /* Горизонтальное выравнивание по центру */
}

.basic-plus,
.basic-minus,
.senior-plus,
.senior-minus {
  width: 33%;
  height: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Выравнивание текста по центру */
  cursor: pointer;
}

.basic-value,
.senior-value {
  width: 33%;
  height: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Выравнивание текста по центру */
}

.total {
  margin-top: 40px;
  margin-bottom: 40px;
}

.buy-now {
  width: 175px;
  height: 50px;
  background-color: #000000;
  font-family: "Roboto Flex", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  right: 0;
  bottom: 15%;
}

.buy-tickets-panorama {
  width: 100%;
  height: 261px;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}

.buy-tickets-panorama img {
  width: 100%;
  transform: translateY(-50%);
  clip-path: polygon(0 50%, 100% 50%, 100% 80%, 0 80%);
  object-fit: cover;
}

/* section 'CONTACTS' */
.contacts {
  width: 1920px;
  margin-top: 50px;
  height: 843px;
}

.contacts-heading {
  width: 1440px;
  margin: 0 auto;
  border-bottom: #710707 3px solid;
}

.contacts-heading h1 {
  text-transform: uppercase;
  font-family: "Forum", sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #9d8665;
  margin: 0 0 10px 0;
}

.contacts-item {
  width: 75%;
  margin: 40px auto 0 auto;
  height: 700px;
  display: flex;
}

.contacts-content {
  width: 33%;
  height: 100%;
  font-family: "Roboto Flex", sans-serif;
}

.contacts-content-txt {
  width: 100%;
}

.contacts-content-txt-heading {
  width: 227px;
  margin: 0 0 60px 0;
}

.contacts-content-txt-heading h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.contacts-content-txt-adress p {
  font-size: 22px;
  margin-bottom: 40px;
}

#map {
  width: 67%;
  height: 100%;
}

/* для footer */
footer {
  width: 1920px;
  height: 180px;
  background-color: #030303;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.footer-conteiner {
  width: 1440px;
  height: 64%;
  margin: 0 auto;
  display: flex;
}

.footer-conteiner svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer-conteiner-nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 389px;
}

.footer-conteiner-nav-item {
  width: 100px;
  display: inline-flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: flex-start; /* Выравнивание по левому краю */
}

.footer-conteiner-nav-item span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.footer-conteiner-social-networks {
  display: flex;
  width: 50%;
  height: 100%;
}

.footer-conteiner-social-network {
  width: 50%;
  height: 50%;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-conteiner-social-network-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-conteiner-social-network-icon svg {
  width: 32px;
  height: 32px;
}

.footer-conteiner-social-networks-hidden {
  display: none;
}

/* Адаптивные стили */
@media (max-width: 1024px) {
  body {
    width: 1024px;
  }
  
  /* для header */
  /* для header */
  header {
    width: 1024px;
  }

  .header {
    width: 1024px;
    position: relative;
    height: 130px;
  }

  .menu {
    display: none;
  }

  .logo {
    cursor: default;
    margin-left: 5px;
  }

  .burger {
    display: block;
  }

  .navbar {
    font-size: 20px;
    font-weight: 300;
    justify-content: space-between;
    width: 98%;
    height: 130px;
    padding: 0;
  }

  /* для секции welcome */
  .welcome {
    width: 1024px;
    height: 587px;
    margin-bottom: 40px;
  }
  .parent-container {
    width: 984px;
    height: 585px;
  }
  .image-container {
    width: 65%;
    height: 65%;
  }

  .image-container::before {
    height: 82%;
  }

  .text-container h1 {
    font-size: 50px;
    margin: 0 0 30px 0;
  }

  .text-container p {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .text-container {
    top: 14%;
    left: 0;
    width: 598px;
  }

  .btn {
    letter-spacing: 2px;
    width: 300px;
  }

  .carousel {
    width: 700px;
    bottom: 0;
    right: 0;
  }

  .square {
    width: 12px;
    height: 12px;
  }

  .arrow-left,
  .arrow-right {
    cursor: default;
    font-size: 20px;
  }

  /* для секции 'Visiting' */
  .visiting {
    width: 1024px;
    height: 1313px;
    margin: 0 auto;
  }

  .visiting-container {
    width: 984px;
    height: 100%;
    margin: 0 auto;
  }

  .visiting-container-header {
    width: 100%;
    height: 70px;
    margin-bottom: 0;
  }

  .visiting-container-header h1 {
    font-size: 50px;
  }

  .visiting-container-body {
    height: 1240px;
    justify-content: space-between;
  }

  .visiting-container-body-child {
    display: none;
  }

  .visiting-container-body-child-media {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
  }

  .visiting-container-body-child-content {
    width: 330px;
    height: 345px;
    margin: 0 52px;
  }

  .visiting-container-body-child-content-image {
    width: 100%;
    height: 215px;
  }

  .visiting-container-body-child-content-image img {
    width: 100%;
    height: 100%;
  }

  .visiting-container-body-child-content-header {
    font-size: 28px;
    letter-spacing: 3px;
    bottom: 22%;
    left: 0;
  }

  .visiting-container-body-child-content-line {
    width: 153px;
    height: 2px;
    bottom: 18%;
    left: 0;
  }

  .visiting-container-body-child-content-txt-fst {
    font-size: 20px;
  }

  .visiting-container-body-child-content-txt-sec {
    font-size: 16px;
  }

  /* для секции 'Explore' */
.explore {
  width: 1024px;
  height: 1149px;
  margin-top: 40px;
}

.explore-text-hidden {
  display: none;
}

.explore-container {
  display: flex;
  flex-direction: column;
  width: 984px;
  height: 100%;
}

.explore-contant {
  width: 100%;
}

.explore-heading {
  width: 100%;
  border-bottom: #710707 3px solid;
}

.explore-heading h1 {
  display: inline-block;
  font-size: 50px;
  margin: 65px 0 10px 0;
  border-bottom: none;
}

.explore-text {
  width: 100%;
}

.explore-text p {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.explore-text span {
  color: #d2b183;
}

.explore-img {
  width: 720px;
  height: 700px;  
  margin: 90px auto 0 auto;
}

  /* для секции 'Video' */
  .video {
    width: 1024px;
    height: 868px;
    margin-top: 45px;
  }
  .video-container {
    width: 984px;
  }

  .video-content {
    width: 100%;
  }

  .video-heading {
    width: 100%;
  }

  .video-heading h1 {
    font-size: 50px;
  }

  .video-text {
    display: none;
  }

  .video-main {
    margin-top: 2%;
  }

  .triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid #ffffff;
    cursor: default;
  }

  .item-txt {
    left: 21%;
    font-size: 18px;
    width: 63%;
  }

  .video-carousel {
    margin-top: 3%;
  }

  .logo-louvre {
    width: 13.08%;
    height: 22.98%;
    top: 6%;
    left: 3%;
  }

  .menu-dots {
    width: 8%;
    top: 8.2%;
    right: 2%;
    cursor: pointer;
  }

  .yuotube-icon {
    width: 26%;
    top: 28%;
    left: 37%;
    cursor: pointer;
  }

  .small-video-carousel {
    margin-top: 1%;
  }

  .points-video-carousel {
    width: 15%;
  }

  /* для секции 'GALLERY' */
  .gallery {
    width: 1024px;
    height: 1460px;
    margin-top: 40px;
  }

  .parent-gallery-container {
    width: 984px;
    padding-top: 20px;
  }

  .parent-gallery-container h1 {
    font-size: 50px;
  }

  .gallery-container-img {
    height: 1330px;
    margin-top: 18px;
  }

  .column-img {
    width: 31%;
    gap: 32px;
  }

  .column-padding {
    padding-top: 3%;
  }

  /* для секции BUY TICKETS */
  .buy-tickets {
    width: 1024px;
    margin-top: 40px;
    height: 952px;
  }
  .buy-tickets-content-ticket-type {
    display: none;
  }

  .heading-buy-tickets {
    width: 984px;
  }

  .heading-buy-tickets h1 {
    font-size: 50px;
    margin: 0 0 8px 0;
  }

  .buy-tickets-container {
    width: 984px;
    margin: 40px auto 0 auto;
  }

  .buy-tickets-img {
    width: 70%;
  }

  .buy-tickets-content {
    width: 24%;
    margin-left: auto;
    height: auto;
  }

  .buy-tickets-content-amount {
    width: 100%;
  }

  .buy-tickets-content-amount h1 {
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
  }

  .ticket-type-content {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .basic,
  .senior {
    width: 80%;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 0;
  }

  .total {
    margin-top: 30px;
  }

  .buy-now {
    width: 80%;
    height: 50px;
    left: 0;
    bottom: 0.8%;
  }

  .buy-tickets-panorama {
    height: 268px;
    margin-top: 50px;
  }

  .buy-tickets-panorama img {
    transform: translateY(-38%);
    clip-path: polygon(0 30%, 100% 30%, 100% 85%, 0 85%);
  }

  /* для секции 'CONTACTS' */
  .contacts {
    width: 1024px;
    margin-top: 40px;
    height: 614px;
  }

  .contacts-heading {
    width: 984px;
  }

  .contacts-heading h1 {
    font-size: 50px;
    margin: 0 0 8px 0;
  }

  .contacts-item {
    width: 984px;
    margin: 30px auto 0 auto;
    height: 518px;
  }

  .contacts-content-txt-heading {
    width: 185px;
    margin: 0 0 50px 0;
  }

  .contacts-content-txt-heading h1 {
    font-size: 24px;
  }

  .contacts-content-txt-adress {
    width: 274px;
  }

  .contacts-content-txt-adress p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  /* для 'FOOTER' */
  footer {
    width: 1024px;
    height: 185px;
    margin-top: 40px;
  }

  .footer-conteiner {
    width: 97%;
    height: 60%;
  }

  .footer-conteiner-nav {
    width: 30%;
    margin-left: 155px;
    height: 99%;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer-conteiner-social-networks {
    width: 50%;
  }

  .footer-conteiner-social-network {
    width: 70%;
  }

  .footer-conteiner-social-network-icon {
    width: 46px;
    height: 46px;
  }

  .footer-conteiner-social-network-icon svg {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }

  /* для Header */
  header {
    width: 768px;
  }

  .header {
    width: 100%;
    height: 110px;
  }

  /* для секции welcome */
  .welcome {
    width: 768px;
    height: 860px;
    margin-bottom: 40px;
  }

  .parent-container {
    display: block;
    position: static;
    width: 728px;
    height: 860px;
    justify-content: center;
    align-items: center;
  }

  .menu {
    top: 110%;
  }

  .logo {
    margin-left: 10px;
  }

  .text-container {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    z-index: auto;
    width: 98%;
  }

  .text-container h1 {
    font-size: 40px;
    margin: 0 0 20px 0;
  }

  .text-container p {
    font-size: 20px;
  }

  .image-container {
    position: static;
    display: flex;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    z-index: auto;
  }

  .image-container::before {
    display: none;
  }

  .image-container img {
    width: 98%;
    margin: 0 auto;
    height: auto;
  }
  .btn {
    display: none;
  }

  .carousel {
    position: static;
    bottom: auto;
    right: auto;
    display: flex;
    z-index: auto;
    margin: 30px auto 0 auto;
    height: 40px;
  }

  /* для секции 'Visiting' */
  .visiting {
    width: 768px;
    height: 1146px;
  }

  .visiting-container {
    width: 728px;
  }

  .visiting-container-header {
    width: 100%;
    height: 58px;
    margin-bottom: 0;
  }

  .visiting-container-header h1 {
    font-size: 40px;
  }

  .visiting-container-body {
    height: 1085px;
  }

  .visiting-container-body-child-content {
    width: 280px;
    height: 301px;
    margin: 0 29px;
  }

  .visiting-container-body-child-content-image {
    width: 100%;
    height: 180px;
  }

  .visiting-container-body-child-content-header {
    font-size: 22px;
    bottom: 23%;
  }

  .visiting-container-body-child-content-line {
    bottom: 20%;
  }

  .visiting-container-body-child-content-txt-fst {
    font-size: 18px;
    bottom: 11%;
  }

  /* для секции 'Explore' */
  .explore {
  width: 768px;
  height: 908px;
  margin-top: 30px;
}

.explore-text {
  display: none;
}

.explore-container {
  display: flex;
  flex-direction: column;
  width: 728px;
}

.explore-contant {
  width: 100%;
}

.explore-heading {
  width: 100%;
  border-bottom: #710707 3px solid;
}

.explore-heading h1 {
  display: inline-block;
  font-size: 40px;
  margin: 25px 0 20px 0;
}

.explore-img {
  width: 728px;
  height: 705px;  
  margin: auto;
}

  /* для секции 'Video' */
  .video {
    width: 768px;
    height: 730px;
    margin-top: 30px;
  }

  .video-container {
    width: 728px;
  }

  .video-heading h1 {
    font-size: 40px;
  }

  .triangle {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 60px solid #ffffff;
  }

  .video-carousel-item {
    width: 49%;
  }

  .video-carousel-item:nth-child(3) {
    /* Скрываем 3й элемент */
    display: none;
  }

  .item-txt {
    left: 16%;
    width: 63%;
  }

  .video-carousel {
    margin-top: 3.5%;
  }

  .logo-louvre {
    width: 11.25%;
    height: 19.61%;
    top: 6%;
    left: 3%;
  }

  .menu-dots {
    width: 6%;
    top: 8.2%;
    right: 1.7%;
    cursor: pointer;
  }

  .yuotube-icon {
    width: 22.27%;
    top: 29.5%;
    left: 37%;
    cursor: pointer;
  }
  .small-video-carousel {
    margin-top: 2%;
  }

  .points-video-carousel {
    width: 22%;
  }

  /* для секции 'GALLERY' */
  .gallery {
    width: 768px;
    height: 1220px;
    margin-top: 30px;
  }

  .parent-gallery-container {
    width: 728px;
    padding-top: 4%;
    margin: 0 auto 0 auto;
  }

  .parent-gallery-container h1 {
    font-size: 40px;
    padding-left: 2px;
  }

  .gallery-container-img {
    display: none;
  }

  .gallery-container-img-adaptive {
    display: flex;
    width: 99%;
    height: 1115px;
    margin: 3% auto 0 auto;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }

  .gallery-container-img-adaptive::after {
    /* Создаем градиетнт */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 1;
  }

  .column-img {
    width: 49%;
    display: inline-flex;
    flex-direction: column;
    gap: 1.2%;
  }

  .column-padding {
    padding-top: 5%;
  }

  /* для секции 'BUY TICKETS' */
  .buy-tickets {
    width: 768px;
    margin-top: 30px;
    height: 811px;
  }

  .heading-buy-tickets {
    width: 728px;
  }

  .heading-buy-tickets h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }

  .buy-tickets-container {
    width: 728px;
    margin: 35px auto 0 auto;
    height: 415px;
  }

  .buy-tickets-img {
    width: 60%;
  }

  .buy-tickets-content {
    width: 25%;
    height: auto;
    margin: 0 auto;
  }

  .buy-tickets-content-amount {
    width: 100%;
    height: auto;
  }

  .buy-tickets-content-amount h1 {
    margin-bottom: 30px;
    font-weight: 800;
  }

  .ticket-type-content {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .basic,
  .senior {
    width: 96%;
  }

  .total {
    margin-top: 30px;
  }

  .buy-now {
    width: 100%;
    left: 0;
    bottom: 0.8%;
  }

  .buy-tickets-panorama {
    height: 265px;
    margin-top: 40px;
  }

  .buy-tickets-panorama img {
    transform: translateY(-28%);
    clip-path: polygon(0 20%, 100% 20%, 100% 90%, 0 90%);
  }

  /* для секции 'CONTACTS' */
  .contacts {
    width: 768px;
    margin-top: 30px;
    height: 818px;
  }

  .contacts-heading {
    width: 728px;
  }

  .contacts-heading h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }

  .contacts-item {
    width: 728px;
    margin: 25px auto 0 auto;
    height: 618px;
    display: block;
  }

  .contacts-content {
    height: 240px;
  }

  .contacts-content-txt {
    width: 100%;
  }

  .contacts-content-txt-heading {
    width: 165px;
    margin: 0 0 40px 0;
  }

  .contacts-content-txt-heading h1 {
    font-size: 20px;
  }

  .contacts-content-txt-adress {
    width: 274px;
  }

  .contacts-content-txt-adress p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #map {
    width: 100%;
    height: 495px;
  }

  /* для секции 'FOOTER' */
  footer {
    width: 768px;
    height: 305px;
    margin-top: 30px;
    display: inline-block;
  }

  .footer-conteiner {
    width: 97%;
    height: 121px;
    margin-top: 50px;
  }

  .footer-conteiner-nav {
    width: 50%;
    margin-left: 180px;
    height: 100%;
    padding-top: 10px;
  }

  .footer-conteiner-nav-item {
    width: 94px;
  }

  .footer-conteiner-nav-item span {
    font-size: 18px;
    margin-bottom: 27px;
  }

  .footer-conteiner-social-networks {
    display: none;
  }

  .footer-conteiner-social-networks-hidden {
    display: flex;
    width: 364px;
    justify-content: space-between;
    margin: 50px 0 0 232px;
  }

  .footer-conteiner-social-network-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .footer-conteiner-social-network-icon svg {
    width: 26px;
    height: 26px;
  }
}
